# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Docker
.dockerignore

# Archives (Archivierte Runden)
archives/*.json

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
